﻿@model string
@{
    ViewBag.Title = "File in byte[]";
}

<div class="jumbotron">
    <h2>
        @ViewBag.Title
    </h2>
    @Model
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="file" id="uploadedFile" name="uploadedFile">
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Загрузить" class="btn btn-default" />
        </div>
    </div>
}